@green-color: #98d603;
@blue-color: #27aae1;
@background-color: #f4f2f1;
@navbar-height: 50px;
@footer-height: 50px;
@filter-width: 250px;

#filter-form {
    position: fixed;
    left: 0;
    top: @navbar-height;
    bottom: @footer-height;
    width: @filter-width;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: @background-color;

    .form-header {
        padding-top: 15px;
        padding-bottom: 10px;
        text-align: center;
        text-transform: uppercase;
    }

    .search-type {
        text-align: center;
        padding: 2px;

        .button {
            width: 100px;
        }
    }

    .animal-type {
        text-align: center;
        padding: 10px;

        i {
            margin: 0 10px;
        }
    }

    .sex-type, .size-type, .color-type, .breed-type, .found-time {
        .header {
            cursor: pointer;
            border-top: 1px solid lightgray;
            padding: 10px;
            text-transform: uppercase;
            //background-color: @background-color;
        }

        .options {
            border-top: 1px solid lightgray;
            background-color: white;
            padding: 10px 15px;
        }
    }

    .sex-type .options, .size-type .options  {
        text-align: center;
    }

    .found-time .options {
        padding: 10px 0;
        text-align: center;
    }

    .breed-type .search {
        border-top: 1px solid lightgray;
        padding: 5px 10px;
        background-color: white;
            
        input {
            border: none;
            background-color: transparent;
            outline: none;
        }

        .search-icon {
            float: right;
        }
    }

    .additional-options {
        border-top: 1px solid lightgray;
        padding: 10px 15px;
    }

    .result-count {
        background-color: @green-color;
        border-radius: 3px;
        text-align: center;
        padding: 3px;
        margin: 10px;
    }
}

.results-container {
    position: fixed;
    left: @filter-width;
    top: @navbar-height;
    bottom: @footer-height;
    right: 0;

    &.loading {
        opacity: 0.5;
    }
}

#animals-list {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 50%;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: @background-color;
    padding: 5px;

    .animal-preview {
        display: block;
        float: left;
        padding: 5px;
        width: 20%;
        opacity: 0.85;
        position: relative;

        &:hover {
            opacity: 1;
        }

        .foreground {
            position: absolute;
            left: 5px;
            right: 5px;
            top: 5px;
            bottom: 5px;
            background-color: transparent;

            text-align: center;
            padding-top: 40%;
            color: white;
            text-transform: uppercase;
        }

        &.js-dead .foreground {
            background-color: rgba(0, 0, 0, 0.60);
        }

        &.js-sos .foreground {
            background-color: rgba(255, 0, 0, 0.50);
        }

        img {
            width: 100%;
            height: auto;
        }
    }
}

#search-map {
    position:absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 50%;
}

footer {
    position:fixed;
    bottom: 0;
    left: 0;
    right:0;
}

// adaptive preview size
@media (max-width:  700px) { #animals-list .animal-preview { width: 100%/2; } }
@media (min-width:  700px) { #animals-list .animal-preview { width: 100%/3; } }
@media (min-width: 1000px) { #animals-list .animal-preview { width: 100%/4; } }
@media (min-width: 1300px) { #animals-list .animal-preview { width: 100%/5; } }
@media (min-width: 1600px) { #animals-list .animal-preview { width: 100%/6; } }
@media (min-width: 1900px) { #animals-list .animal-preview { width: 100%/7; } }