@import "icons.less";
@import "fonts.less";
@import "controls.less";

@gray-color: #f4f2f1;
@green-color: #98d603;
@blue-color: #27aae1;

html {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: normal;
}

body {
    padding-top: 50px; // отступ от фиксированного навбара
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

#navbar {
    .navbar-brand {
        margin-right: 30px;
    }
    .mixin-button(@color) {
        padding: 3px 5px;
        margin: 12px 5px;
        border-radius: 2px;
        border: 1px solid @color;
        background-color: none;
        color: @color;

        &:hover {
            border-color: lighten(@color, 10%);
            color: lighten(@color, 25%);
        }
        &.active {
            color: black;
            background-color: @color;
        }
    }
    .database-button {
        .mixin-button(@gray-color);
    }
    .found-button {
        .mixin-button(@green-color);
    }
    .lost-button {
        .mixin-button(@blue-color);
    }
}

footer {
    //border-top: 1px solid gray;
    padding: 10px 0;
    height: 50px;
    background-color: #333333;
    color: white;

    .copyright-text, .social-icons, .language {
        float: left;
        width: 33%;
        line-height: 30px;
    }
    .copyright-text {
        text-align: left;
    }
    .social-icons {
        text-align: center;
    }
    .language {
        text-align: right;
    }
}

// extend bootstrap container class for larger resolutions
//@media (min-width: 1500px) {
    .container {
        //max-width: 1480px;
        width: auto;
    }
//}