.mixin-icon {
    display: inline-block;
    vertical-align: middle
}

.cat-gray-icon {
    background: url("/Content/icons/form-cat-gray.png");
}

.feedback-icon {
    .mixin-icon;
    background: url("/Content/icons/nav-feedback.png");
    width: 17px;
    height: 13px;
    margin-right: 8px;
}

.paw-icon {
    .mixin-icon;
    background: url("/Content/icons/nav-paw.png");
    width: 19px;
    height: 18px;
    margin-right: 8px;
}

.profile-icon {
    .mixin-icon;
    background: url("/Content/icons/nav-profile.png");
    width: 18px;
    height: 19px;
    margin-right: 8px;
}


.twitter-icon {
    .mixin-icon;
    background: url("/Content/icons/social-twitter.png");
    width: 26px;
    height: 26px;
}
.facebook-icon {
    .mixin-icon;
    background: url("/Content/icons/social-facebook.png");
    width: 26px;
    height: 26px;
}
.vkontakte-icon {
    .mixin-icon;
    background: url("/Content/icons/social-vkontakte.png");
    width: 26px;
    height: 26px;
}
.odnoklassniki-icon {
    .mixin-icon;
    background: url("/Content/icons/social-odnoklassniki.png");
    width: 26px;
    height: 26px;
}
.google-plus-icon {
    .mixin-icon;
    background: url("/Content/icons/social-google-plus.png");
    width: 26px;
    height: 26px;
}
.mail-ru-icon {
    .mixin-icon;
    background: url("/Content/icons/social-mail-ru.png");
    width: 26px;
    height: 26px;
}

.options-icon {
    .mixin-icon;
    background: url("/Content/icons/options.png");
    width: 19px;
    height: 16px;

    cursor: pointer;
}

.dog-icon {
    .mixin-icon;
    background: url("/Content/icons/form-dog-gray.png");
    width: 37px;
    height: 34px;

    &.active {
        background: url("/Content/icons/form-dog-green.png");
    }
}

.cat-icon {
    .mixin-icon;
    background: url("/Content/icons/form-cat-gray.png");
    width: 33px;
    height: 31px;

    &.active {
        background: url("/Content/icons/form-cat-green.png");
    }
}