@{
    ViewBag.Title = "Доска объявлений";
}

@section Styles {
    <link href="~/Styles/animal-list.css" rel="stylesheet" />
}

@section Scripts {
    <script type="text/javascript" charset="utf-8" src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=Xc91SP-rHaQMdt5vAtjj_5Vq-AeAT7HR&lang=ru_RU&id=search-map"></script>
    <script>var ServerModel = (@Html.Raw(Json.Encode(Model)));</script>
    <script src="~/Scripts/animal-list.js"></script>
}

<div id="filter-form" data-bind="with: input, css: formColor">
    <div class="form-header">Доска объявлений</div>

    <div class="search-type">
        <div class="button" data-bind="active: { state: advertType, value: Enums.AdvertTypes.Found }">Найден</div>
        <div class="button" data-bind="active: { state: advertType, value: Enums.AdvertTypes.Lost }">Пропал</div>
    </div>
    <div class="animal-type">
        <i class="dog-icon" data-bind="active: { state: animal, value: Enums.AnimalTypes.Dog }"></i>
        <i class="cat-icon" data-bind="active: { state: animal, value: Enums.AnimalTypes.Cat }"></i>
    </div>

    <div class="sex-type js-accordion">
        <div class="header js-header">Пол</div>
        <div class="options js-body">
            <i class="male-icon" data-bind="active: { state: sexes, value: Enums.SexTypes.Male }"></i>
            <i class="female-icon" data-bind="active: { state: sexes, value: Enums.SexTypes.Female }"></i>
        </div>
    </div>
    <div class="size-type js-accordion">
        <div class="header js-header">Размер</div>
        <div class="options js-body">
            <div data-bind="visible: animal() == Enums.AnimalTypes.Dog">
                <i class="s-size-dog-icon" data-bind="active: { state: sizes, value: Enums.SizeTypes.Small }"></i>
                <i class="m-size-dog-icon" data-bind="active: { state: sizes, value: Enums.SizeTypes.Medium }"></i>
                <i class="l-size-dog-icon" data-bind="active: { state: sizes, value: Enums.SizeTypes.Large }"></i>
            </div>
            <div data-bind="visible: animal() != Enums.AnimalTypes.Dog">
                <i class="s-size-cat-icon" data-bind="active: { state: sizes, value: Enums.SizeTypes.Small }"></i>
                <i class="l-size-cat-icon" data-bind="active: { state: sizes, value: Enums.SizeTypes.Large }"></i>
            </div>
        </div>
    </div>

    <div class="color-type js-accordion">
        <div class="header js-header">Окрас</div>
        <div class="options js-body">
            <ul data-bind="foreach: $root.available.colors">
                <!-- todo: чёто этот active биндинг нихуя непонятный, лучше разделить на два -->
                <li class="checkbox" data-bind="active: { state: $root.input.colors, value: $data }">
                    <i class="checkbox-icon"></i>
                    <label data-bind="text: Name"></label>
                </li>
            </ul>
        </div>
    </div>

    <div class="breed-type js-accordion">
        <div class="header js-header">Порода</div>
        <div class="js-body">
            <div class="search">
                <input type="text" placeholder="Поиск..." />
                <i class="search-icon">S</i>
            </div>
            <div class="options">
                <ul data-bind="foreach:  $root.available.breeds">
                    <li class="checkbox" data-bind="active: { state: $root.input.breeds, value: $data }">
                        <i class="checkbox-icon"></i>
                        <label data-bind="text: Name"></label>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="found-time js-accordion">
        <div class="header js-header">Время обнаружения</div>
        <div class="options js-body">
            <input id="js-start-date" type="text" data-bind="value: startDate" />
            <input id="js-finish-date" type="text" data-bind="value: finishDate" />
        </div>
    </div>

    <div class="additional-options">
        <div class="checkbox" data-bind="active: { state: statuses, value: Enums.AnimalStatusTypes.Dead }">
            <i class="checkbox-icon"></i>
            <label>RIP</label>
        </div>
        <div class="checkbox" data-bind="active: { state: statuses, value: Enums.AnimalStatusTypes.Sos }">
            <i class="checkbox-icon"></i>
            <label>SOS</label>
        </div>
        <div class="checkbox" data-bind="active: { state: statuses, value: Enums.AnimalStatusTypes.Housing }">
            <i class="checkbox-icon"></i>
            <label>Передержка</label>
        </div>
    </div>

    <div class="result-count">
        Найдено: <span data-bind="text: $root.totalResultsCount"></span> объявлений
    </div>
</div>

<div class="results-container" data-bind="css: { loading: isResultsLoading }">
    <div id="animals-list" data-bind="foreach: searchResults">
        <div class="animal-preview" data-bind="css: style">
            <a href="#">
                <div class="foreground" data-bind="text: text"></div>
                <img data-bind="attr: { src: imgUrl }" />
            </a>
        </div>
    </div>

    <div id="search-map">
    </div>
</div>